---
---

@import "{{ site.theme }}";
// navbar style info 
.navbar {
    height: 40px;
    background-color: #D4F5F5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #554348
}
.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    padding: 5px;
    margin-right: 10px;
}
h1 {
    color: #002566;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #1F5C0B;
}
